.footer {
    background-image: url(/public/imgs/fundo.png), linear-gradient(#fff1b2, #7b2d9f);
    color: #000000;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}

.img {
    width: 32px;
    height: 32px;
}
